<connectionStrings>
    <add name="DefaultConnection" connectionString="server={{mysql_host}};port={{mysql_port}};user id={{mysql_username}};password={{mysql_password}};database=poweralley" providerName="MySql.Data.MySqlClient" />
</connectionStrings>