{% if ansible_hostname in groups['outdoors'] %}
http://mirrorpkg1.dev1team.net/rawshaun-sus/5eccfd40-40b0-41e8-a9a1-24db7724ba20/tests/rc/
{% endif %}
http://sus.dev1team.net/rawshaun-sus/5eccfd40-40b0-41e8-a9a1-24db7724ba20/tests/rc/
