{% if ansible_hostname in groups['outdoors'] %}
http://{{sus_username}}:{{sus_password}}@mirrorpkg1.dev1team.net/rawshaun-sus/tests/rc/
{% endif %}
http://{{sus_username}}:{{sus_password}}@sus.dev1team.net/rawshaun-sus/tests/rc/
