{% if ansible_hostname in groups['outdoors'] %}
http://{{ repo_username }}:{{ repo_password }}@mirrorpkg1.dev1team.net/rawshaun-sus/tests/dev/
{% endif %}
http://{{ repo_username }}:{{ repo_password }}@sus.dev1team.net/rawshaun-sus/tests/dev/
