{% if ansible_hostname in groups['outdoors'] %}
http://mirrorpkg1.dev1team.net/rawshaun-sus/494f9127-22af-4249-9038-c1a4525d994f/pmm/rc/
{% endif %}
http://sus.dev1team.net/rawshaun-sus/494f9127-22af-4249-9038-c1a4525d994f/pmm/rc/
