[pmm-bankaudi-rc]
name=PMM rc repository for BankAudi
enabled=0
gpgcheck=0
mirrorlist=file:///etc/yum.repos.d/pmm-bankaudi-rc.list

[pmm-bankaudi-dev]
name=PMM dev repository for BankAudi
enabled=0
gpgcheck=0
mirrorlist=file:///etc/yum.repos.d/pmm-bankaudi-dev.list
