<appSettings>
  <!-- Firefox, Chrome, InternetExplorer -->
  <add key="browser" value="Firefox" />
  <add key="testEnvironment" value="http://localhost/power/" />

  <!--settings for backend-->
  <add key="ip" value="localhost" />
  <add key="kelly_port" value="8080" />
  <add key="timeout" value="60000" />

  <!--settings for utils scripts-->
  <add key="ssh_ip" value="localhost" />
  <add key="ssh_port" value="22" />
  <add key="mongo_utils_path" value="/opt/poweralleyui-tests/PowerAlleyUI.KellyApiTests/Utils/mongo_utils" />
  <add key="user" value="root" />
  <add key="password" value="0987654321" />
</appSettings>
