<appSettings>
  <!-- Firefox, Chrome, InternetExplorer -->
  <add key="browser" value="Firefox" />
  <add key="testEnvironment" value="http://localhost/power/" />
  <add key="ui_timeout" value="180" />

  <!--settings for backend-->
  <add key="ip" value="localhost" />
  <add key="kelly_port" value="8080" />
  <add key="timeout" value="60000" />
</appSettings>
