[program:webmm]
directory=/srv/PMM/pmm/WebApps/webmm
command=/opt/bin/webmm.sh
autostart=true
autorestart=true
user=bms
stdout_logfile=/var/log/pmm/webmm.out.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=10
stderr_logfile=/var/log/pmm/webmm.err.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=10
stopasgroup=true

[eventlistener:webmm-monitor]
command=httpok -p webmm http://{{webmm_http_ip}}/webmm/Login.aspx
events=TICK_60
