{% if ansible_hostname in groups['outdoors'] %}
http://mirrorpkg1.dev1team.net/rawshaun-sus/8d1183db-5c92-4095-862b-b2931fdcc79e/base/base/
{% endif %}
http://sus.dev1team.net/rawshaun-sus/8d1183db-5c92-4095-862b-b2931fdcc79e/base/base/
