resource kelly {
  device    /dev/drbd3;
  disk      /dev/loop3;
  meta-disk internal;
  on node1 {
    address {{hostvars['node1']['ansible_eth1']['ipv4']['address']}}:7792;
  }
  on node2 {
    address {{hostvars['node2']['ansible_eth1']['ipv4']['address']}}:7792;
  }
}
