resource mm_srv {
  device    /dev/drbd4;
  disk      /dev/loop4;
  meta-disk internal;
  on node1 {
    address {{hostvars['node1']['ansible_eth1']['ipv4']['address']}}:7793;
  }
  on node2 {
    address {{hostvars['node2']['ansible_eth1']['ipv4']['address']}}:7793;
  }
}
