server {
    listen      80;
    access_log  /var/log/nginx/poweralleyui.access.log main;
    error_log   /var/log/nginx/poweralleyui.error.log;

    location /power/ {
        fastcgi_pass {{poweralleyui_fastcgi_ip}}:8877;
        include /etc/nginx/fastcgi_params;
    }

{% if poweralleyui_tests %}
    location /tests/power/ {
        autoindex on;
        alias /opt/poweralleyui-tests-results/;
    }
{% endif %}
}
