resource soap_srv {
  device    /dev/drbd5;
  disk      /dev/loop5;
  meta-disk internal;
  on node1 {
    address {{hostvars['node1']['ansible_eth1']['ipv4']['address']}}:7794;
  }
  on node2 {
    address {{hostvars['node2']['ansible_eth1']['ipv4']['address']}}:7794;
  }
}
