<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MigratorConnectionString" connectionString="Server={{mysql_host}};Port={{mysql_port}};Database=phonebook;Uid={{mysql_username}};Pwd={{mysql_password}};Old Guids=true;charset=utf8;Treat Tiny As Boolean=true" />
  </connectionStrings>
  <appSettings>
    <add key="AbsolutePathToAssembly" value="false"/>
    <add key="MigrationAssemblyName" value="PMM.Migrations.Phonebook.dll" />
  </appSettings>
</configuration>
